%h1 AndXP

%b Saturday, October 8, 2016 |  8:30 AM to 6:00 PM | San Francisco, CA

%p #{ link_to "Buy your ticket now!", "http://andxp.eventbrite.com", class: "btn btn-primary", target: "_blank" }

%p
  AndXP is a 1-day unconference in San Francisco looking at XP through the lens of intersectional
  feminism. What’s working? What’s not? How do we want to change XP to better serve us? One of
  the practices of XP is the retrospective. Let’s do a retro of XP itself, and look forward to
  what we’d like to see in our workplaces and communities.

%p
  Although we’re not expecting all conversations to include feminism explicitly (i.e., “How does
  feminism affect our CI build?”), we do expect attendees to share the assumption that intersectional
  feminism is good and to have a basic understanding of what that means.

%p A few definitions for you:
%ul
  %li
    %strong XP
    stands for Extreme Programming, a set of values, principles, and practices that entrusts the
    team with agency around how they develop software. Commonly adopted practices include
    continuous integration, short iterations, test-driven development, and pair programming.
  %li
    An
    %strong unconference
    is a community-driven event where participants suggest topics, everyone votes on them,
    and we have discussions (or workshops, or demos, or experimental theater) on the topic.
    (But mostly discussions.)
  %li
    %strong> Feminism
    , according to
    = succeed "," do
      %a{:href => "https://en.wikipedia.org/wiki/Bell_hooks", :target => "_blank"} bell hooks
    is "a movement to end sexism, sexist exploitation, and oppression."
  %li
    %strong Intersectionality
    was conceived by
    %a{:href => "https://en.wikipedia.org/wiki/Kimberl%C3%A9_Williams_Crenshaw", :target => "_blank"} Kimberlé Crenshaw
    and is "the study of overlapping or intersecting social identities and related systems of
    oppression, domination, or discrimination." (Thanks, Wikipedia!)

%h3 Who should come to AndXP?
%p
  Since we’re going to dive deep into what’s worked and hasn’t worked about XP, we ask
  that attendees have experience with and opinions about XP and are interested in thinking
  and talking about its future. Anyone who’s been involved closely with the creation of
  software using XP is welcome to attend, from design and product to testing and support,
  and anything in between.

%p
  Attendees don’t need to be experts on feminism, but should be excited about feminism and
  intersectionality as defined above. Also, people of all genders can (and should!) be
  feminists, so people of all genders are welcome. AndXP is emphatically trans- and queer-friendly.

%h3 Where is it?

%b 500 Sansome Street, Suite 200, San Francisco, CA 94111

%p
  AndXP is being graciously hosted by #{ link_to "Omada Health", "https://www.omadahealth.com/" }.

%p
  Omada Health helps people make the behavior changes needed to reduce their risk of chronic diseases
  like type 2 diabetes and heart disease through a 16-week digital health program.
  (And that program is built by teams that practice XP!)

%h3
  What's going to happen, precisely?
  %br/
%p
  From 8:30am to 9:30am on Saturday morning, attendees will propose session ideas via notecards
  taped to a wall. Everyone will then vote with little dot stickers on which sessions they think
  look interesting. (You don't have to be an expert to propose a session, and you don't have to
  attend sessions that you propose!)
%p
  After voting is done (roughly around 10am), we'll get a crash course in effective group
  discussions from Valerie Aurora of
  = succeed "," do
    %a{:href => "https://frameshiftconsulting.com/", :target => "_blank"} Frameshift Consulting
  %a{:href => "https://twitter.com/marlenac", :target => "_blank"} Marlena
  and
  %a{:href => "https://twitter.com/lilliealbert", :target => "_blank"} Lillie
  tally up the votes and make the day's schedule.

%p
  We'll have a few 35-minute sessions in the morning, a break for lunch, then more sessions
  in the afternoon. Around 6pm, we'll finish up and anyone interested can head to a nearby
  bar for a drink and snacks.

%p
  Lunch and breakfast are included in the price of your ticket! We'll also have a designated
  quiet room for you to (quietly) recharge as needed, and will offer free on-site childcare and a
  lactation room for anyone who needs it. 

%h3 Why "AndXP"?

%p
  AndXP is the first AndConf spin-off event!
  %a{:href => "https://www.andconf.io", :target => "_blank"} AndConf
  is a code retreat and unconference for feminist programmers in the woods of Western Sonoma county.
  Follow
  %a{:href => "https://twitter.com/andconf", :target => "_blank"} @andconf
  on Twitter for updates on future events!


%h2 Team

%p
  AndXP is organized by #{ link_to "Lillie Chilen", "https://twitter.com/lilliealbert" }
  and #{ link_to "Marlena Compton", "https://twitter.com/marlenac" }.

%h2 Accessibility

%ul
  %li Omada Health's offices are ADA compliant.
  %li We'll be offering vegan, vegetarian, gluten-free, and lactose-free breakfast and lunch.
  %li Free on-site childcare will be available upon request.
  %li We'll have a lactation room available for anyone who needs it.

%p
  If you have any concerns or questions about the space or the conference, please email
  the organizers at #{ mail_to ATTEND_EMAIL }.

%h2 Code of Conduct

%h3 Summary
%p AndConf is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of conference participants in any form. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.

%h3 Extended Terms

%p Harassment includes verbal comments that reinforce social structures of domination (related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion); sexual images in public spaces; deliberate intimidation; stalking; following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact; and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.
%p Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material.
%p If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by special badges.
%p Conference staff will be happy to help participants contact local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
%p
  %b We expect participants to follow these rules at all times throughout the conference.


