%section.main-content
  %p
    AndConf will be back,
    %strong August 12-14th, 2016!

  -if Configurable[:accepting_applications]
    %p
      We've streamlined the ticketing process this year by having a single #{ link_to "ticket application", login_path }
      form for everyone who wants to attend. You'll be able to request conference ticket and
      (optionally) apply for a scholarship ticket, travel stipend, or dependent care stipend
      all on the same form. Read more about the new ticketing process on our
      #{ link_to "blog", "https://blog.andconf.io/announcing-andconf-2016-3c24c02b47b9#.ibhpph6gp", target: "_blank" }.
      Apply by <strong>May 31st.</strong>
    %p
      = link_to "Apply to attend AndConf!", login_path, class: "btn btn-primary"
  - else
    %p
      Applications for AndConf 2016 have closed. Thank you to everyone who applied!

  %h2 What is AndConf?
  %p
    AndConf (formerly &:conf) is a code retreat and
    unconference for intersectional feminist programmers in the woods of western
    Sonoma County, CA. Saturday’s code retreat will
    be a day of pair programming on one kata where each hour we throw our
    code away and work with a new person. Sunday’s unconference will have
    two tracks: yak and hack, where we'll talk about technologies,
    programming, careers, and culture.
  %p
    AndConf takes place at
    #{ link_to "St. Dorothy's Rest", "http://stdorothysrest.org/facilities/grounds/", target: "_blank" }
    camp and retreat center.

  %section.sponsors
    %h2 Sponsors
    %h3 Diamond Sponsor
    %ul.sponsors-diamond
      %li
        = link_to image_tag("sponsors/craigslist_v4.png", alt: "craigslist", class: "sponsors-craigslist"), "https://www.craigslist.org"
    %h3 Platinum Sponsors
    %ul.sponsors-platinum
      %li
        = link_to image_tag("sponsors/mailchimp.png", alt: "Mail Chimp", class: "sponsors-mailchimp"), "http://mailchimp.com/"
    %h3 Gold Sponsors
    %ul.sponsors-gold
      %li
        = link_to image_tag("sponsors/c5-logo-horizontal.png", alt: "Carbon Five", class: "sponsors-c5"), "http://www.carbonfive.com/"
        = link_to image_tag("sponsors/etsy_logo_lg_rgb.png", alt: "Etsy", class: "sponsors-etsy"), "https://www.etsy.com/"
        = link_to image_tag("sponsors/open-news.png", alt: "Knight-Mozilla Open New", class: "sponsors-open-news"), "https://opennews.org/"
    %h3 Friends of AndConf
    %ul.sponsors-friends
      %li
        = link_to image_tag("sponsors/bugsnag.png", alt: "bugsnag", class: "sponsors-bugsnag"), "https://bugsnag.com"
  %p
    We're still seeking sponsors for AndConf 2016. Check out our
    #{ link_to "sponsorship prospectus", "/andconf_prospectus.pdf", target: "_blank" }, and email
    #{ mail_to "lillie@andconf.io" } with any questions!

  %h2 Code of Conduct
  %p
    AndConf is dedicated to providing a harassment-free conference
    experience for everyone, regardless of gender, gender identity and expression,
    sexual orientation, disability, physical appearance, body size, race, age or
    religion. We do not tolerate harassment of conference participants in any form.
    Conference participants violating these rules may be sanctioned or expelled
    from the conference without a refund at the discretion of the conference
    organizers.
  %p
    Read the #{ link_to "full code of conduct", code_of_conduct_path }.

  %h2 Contact
  %p
    Questions? Check out the #{ link_to "FAQ", details_path } and if that doesn't
    answer it, contact the conference organizers at #{ mail_to INFO_EMAIL }.

  %h2 Conference Organizers
  %p.bio
    = image_tag "lillie.jpg", alt: "Lillie Chilen"
    = link_to "Lillie Chilen", "https://twitter.com/lilliealbert", target: "_blank"
    is a software engineer, Rubyist, and process junkie at Omada Health. She
    co-organizes SF.rb, chairs the RailsBridge board and is the CTO of Double Union, a
    feminist hacker/makerspace in San Francisco.
  %p.bio
    = image_tag "stella.jpg", alt: "Stella Cotton"
    = link_to "Stella Cotton", "https://twitter.com/practice_cactus", target: "_blank"
    is a software engineer at Indiegogo, conference speaker, and co-organizer of
    SF.rb. Coming to software after six years in the Financial sector, she’s
    passionate about building robust payments systems and diverse teams.
  %p.bio
    = image_tag "emily.jpg", alt: "Emily Nakashima"
    = link_to "Emily Nakashima", "https://twitter.com/eanakashima", target: "_blank"
    leads the front end engineering team at Bugsnag. She writes and speaks at
    conferences on the topics of web performance, client-side monitoring,
    javascript patterns, and supporting diversity in technical organizations.
    %br
    %br

  %h2.clearfix Volunteers
  %p.bio
    = image_tag "siena.jpg", alt: "Siena Aguayo"
    = link_to "Siena Aguayo", "https://twitter.com/sienatime", target: "_blank"
    is a software engineer at Indiegogo in San Francisco, where she
    has developed apps on iOS, Android, and Rails/Angular. You can find her on Twitter
    #{ link_to "@sienatime", "https://twitter.com/sienatime", target: "_blank" },
    and at #{ link_to "emojiparty.net", "http://emojiparty.net/", target: "_blank" },
    where she blogs about tech with Stella Cotton.
  %p.bio
    = image_tag "courteney.jpg", alt: "Courteney Ervin"
    = link_to "Courteney Ervin", "https://twitter.com/courteneyervin", target: "_blank"
    is a developer at the New York Public Library and lead maintainer at CodeMontage,
    where she helps connect developers with social good open source projects.
  %p.bio
    = image_tag "anna.jpg", alt: "Anna Neyzberg"
    = link_to "Anna Neyzberg", "https://twitter.com/aneyzb", target: "_blank"
    is a software developer at Carbon Five. She is the chapter lead of RailsBridge
    SF, a co-organizer of
    = link_to "SF.rb", "http://www.meetup.com/sf-dot-rb/", target: "_blank"
    and is very interested in the intersection of technology and health.
  %p.bio
    = image_tag "cindy.jpg", alt: "Cindy Pallares"
    = link_to "Cindy Pallares", "https://twitter.com/cindy_pallares", target: "_blank"
    is a pythonista and open sourcerer. She helps organize
    = link_to "Outreachy", "https://www.gnome.org/outreachy/", target: "_blank"
    and loves mentoring beginners get started contributing to open source projects.
  %p.bio
    = image_tag "dicko.jpg", alt: "Dicko Sow"
    = link_to "Dicko Sow", "https://twitter.com/s12dsow", target: "_blank"
    is a software developer at Pillar
    Technology. Passionate about technology and her place in it, she left a career
    in the insurance industry to pursue working in the software industry.
