%h1 Confirm your email address
%p After this step, you'll be taken to the AndConf application.

= form_tag confirm_email_path, class: "form form-horizontal" do
  = label_tag "Email Address", :email
  = text_field_tag :email
  = submit_tag "Save", class: "btn btn-primary"

%p Any questions or confusion? Contact the AndConf organizing team at #{ mail_to ATTEND_EMAIL }.
