%table.table.table-striped.admin-console.js-datatable
  %thead
    %tr
      %th Name
      %th Status
      %th.min-width-150 Dues Paid On
      %th Notes
  %tbody
    - users.each do |user|
      %tr{class: "user-#{user.id}"}
        %td.max-width-150
          - if user.name.present?
            = link_to user.name, volunteers_user_path(user)
        %td= user.display_state
        %td= user.last_stripe_charge_succeeded.strftime('%b %d %Y') if user.last_stripe_charge_succeeded
        %td
          = form_for :user, url: admin_save_membership_note_path, remote: true, html: { class: "js-membership-note js-membership-note-#{user.id}" } do |f|
            = f.hidden_field :id, value: user.id
            = f.text_area :membership_note, rows: 4, cols: 30, value: user.membership_note
            .submit
              = f.submit "Save Note", class: "btn"
              %span.collapse{class: "save-success-#{user.id}"} Note saved!
              %span.collapse{class: "save-failure-#{user.id}"} Note not saved :(
