- if @applicants_submitted.any?
  %h2 Submitted Applications
  %table.table.table-striped.js-datatable-applications.applications
    %thead
      %tr.more-padding
        %th.name Name
        %th.date Submitted
        %th Comments
        - if current_user.application_reviewer?
          %th You
        %th Yes
        %th No
        %th ?
    %tbody
      - @applicants_submitted.each do |applicant|
        - application = applicant.application
        %tr
          %td.name
            = user_gravatar(applicant, 20)
            = link_to applicant.name, volunteers_application_path(application)
          %td
            - if application.submitted_at
              = application.submitted_at.strftime('%b %d, %Y')
            - else
              \--
          %td= application.comments.size
          - if current_user.application_reviewer?
            %td
              - if current_user.voted_on?(application)
                = current_user.vote_for(application).display_value
              - else
                none
          %td= application.yes_votes.size
          %td= application.no_votes.size
          %td= application.not_voted_count

  %h3
    %a{"data-toggle" => "collapse" , "href" => "#collapseEmails"} Applicant Email Addresses <b class="caret"></b>
  %div.collapse.out#collapseEmails
    %p Just in case we need to follow up on an application.
    %ul.list-unstyled
      - @applicants_submitted.each do |applicant|
        - if applicant.email.present?
          %li= applicant.email
