%table.table

  %tr
    %td.left
      Full name
      %small (required)
    %td= @user.name

  %tr
    %td.left
      Email
      %small (required)
    %td= @user.email

  %tr
    %td.left Why do you want to attend to AndConf?
    %td= markdown(@user.application.why_andconf)

  %tr
    %td.left What is your level of familiarity with intersectional feminism?
    %td= markdown(@user.application.feminism)

  %tr
    %td.left How much programming experience do you have?
    %td= markdown(@user.application.programming_experience)

  %tr
    %td.left Is there an aspect of your background or identity that you think would make AndConf more diverse?
    %td= markdown(@user.application.diversity)
