%h2 AndConf Application

%p
  This paragraph will be about AndConf and why there's an application process

%p
  This paragraph will be about how we'll be evaluating applications

%p
  And here a timeline for when we'll be reviewing applications and notifying people of acceptance!

%p
  If this application looks blanker than you left it, double check that you logged in with the same service as before by logging out and trying the other one (GitHub or Google).


- if Configurable[:application_deadline_warning].present?
  .alert.alert-info
    = Configurable[:application_deadline_warning]

= form_for @user, url: application_path(@user.application) do |f|

  %fieldset
    - if @user.application.submitted?
      = f.submit 'Update application', name: 'save', class: "btn"
    - else
      = f.submit 'Save without submitting', name: 'save', class: "btn"

  %table.table
    %tr
      %td
        = f.label :name, 'Full name'
        %small (required)
      %td= f.text_field :name, required: true

    %tr
      %td
        = f.label :email
        %small (required)
      %td= f.text_field :email, required: true

  = f.fields_for :application do |app_fields|
    %table.table
      %tr
        %td
          = app_fields.label :why_andconf, "Why do you want to attend to AndConf?"
          %p.small
            We don't evaluate applications based on how accomplished or successful a person is.
            Some sentences or a paragraph would be great; for all of these questions,
            we love getting to read some detail but don't want to burden you with writing a huge essay.
          %p.small Required
        %td= app_fields.text_area :why_andconf, rows: 10
      %tr
        %td
          = app_fields.label :feminism, "What is your level of familiarity with intersectional feminism?"
          %p.small
            It’s fine to not be an expert on the topic.
          %p.small Required
        %td= app_fields.text_area :feminism, rows: 10
      %tr
        %td
          = app_fields.label :diversity, "Is there an aspect of your background or identity that you think would make AndConf more diverse?"
          %p.small
            We’re striving to have a diverse event with people from many backgrounds.
            Answering “No” or leaving this section blank wouldn’t disqualify you from attending. A few sentences is plenty.
        %td= app_fields.text_area :diversity, rows: 10

    %hr

    %strong
      How long have you been programming full-time?
    %p.small
      We want to have a wide variety of experience levels, both for the code retreat and the unconference.
      We found that people with less than three months of regular coding practice (such as going to a bootcamp or
      professional work) had less fun at the code retreat.

    %ul.list-unstyled
      %li
        = app_fields.radio_button :programming_experience, "3 months - 1 year"
        = app_fields.label :programming_experience, "3 months - 1 year", value: "3 months - 1 year"
      %li
        = app_fields.radio_button :programming_experience, "1 - 2 years"
        = app_fields.label :programming_experience, "1 - 2 years", value: "1 - 2 years"
      %li
        = app_fields.radio_button :programming_experience, "2 - 5 years"
        = app_fields.label :programming_experience, "2 - 5 years", value: "2 - 5 years"
      %li
        = app_fields.radio_button :programming_experience, "5 - 10 years"
        = app_fields.label :programming_experience, "5 - 10 years", value: "5 - 10 years"
      %li
        = app_fields.radio_button :programming_experience, "10+ years"
        = app_fields.label :programming_experience, "10+ years", value: "10+ years"

    %hr

    %tr.nested-table
      %td{ colspan: 2 }
        %table
          %tr
            %td.pt-10= app_fields.check_box :agreement_coc
            %td.pt-10.pl-10= app_fields.label :agreement_coc, "I have read and agree to adhere to AndConf's Code of Conduct", class: 'checkbox-label'

          %tr
            %td.pt-10= app_fields.check_box :agreement_attendance
            %td.pt-10.pl-10= app_fields.label :agreement_attendance, "I will attend the entire conference, from the evening of Friday 8/12/15 through Sunday evening, 8/14/15.", class: 'checkbox-label'

          %tr
            %td.pt-10= app_fields.check_box :agreement_deadline
            %td.pt-10.pl-10= app_fields.label :agreement_deadline, "I agree to confirm or decline my attendance within 2 weeks if I am accepted.", class: 'checkbox-label'

  - if @user.application.submitted?
    = f.submit 'Update application', name: 'save', class: "btn"
  - else
    = f.submit 'Save without submitting', name: 'save', class: "btn"

  - if @user.application.submitted?
    %p Application submitted #{time_ago_in_words(@user.application.submitted_at)} ago
    %p= link_to 'View application', application_path(@user.application)
  - else
    %h3 Submit
    %p
      When you're done with your application, submit it with the button below.
      You will be able to edit it any time before applications close.
    %p
      If you're curious what your application will look like to us,
      you can #{ link_to "check it out here", application_path(@user.application), target: "_blank"}.

    %fieldset
      = f.submit 'Submit application', name: 'submit', class: "btn btn-primary"
