- if @application_form.errors.present?
  .alert-danger.ptb-10.mb-30.mt-20
    %ul
    - @application_form.errors.full_messages.each do |e|
      %li= e
%h2 AndConf Application

%p
  We’ll be processing admissions on a rolling basis, so be sure to apply early! We’ll begin notifying people of acceptance in early June.
  We’ll also let you know whether or not you’ve received a scholarship ticket and any travel assistance at the same time.
  %strong If accepted, you’ll have 10 days to register for your ticket.
  After that, we’ll pass the opportunity along to someone on the waitlist.

%p
  For more information about why there is an application process, check out #{ link_to "this blog post", "https://blog.andconf.io/announcing-andconf-2016-3c24c02b47b9", target: "_blank" }.

%p
  (When you register, we’ll ask you all the nitty-gritty logistical questions, like dietary information and housing preferences.)

%p
  We’ll be sending application notifications from #{ATTEND_EMAIL}, so please whitelist that email address
  (perhaps by adding it to your address book) so that emails from us don’t get lost in spam!

%p
  If this application looks blanker than you left it, double check that you logged in with the same service as before by logging out and trying the other one (GitHub or Google).


- if Configurable[:application_deadline_warning].present?
  .alert.alert-info
    = Configurable[:application_deadline_warning]

= form_for @application_form, method: :put, url: application_path(@application_form.application) do |f|

  %fieldset
    - if @application_form.application.submitted?
      = f.submit 'Update application', name: 'save', class: "btn"
    - else
      = f.submit 'Save without submitting', name: 'save', class: "btn"

    %table.table
      %tr
        %td
          = f.label :name, 'Full name'
          %small (required)
        %td= f.text_field :name, required: true

      %tr
        %td
          = f.label :email
          %small (required)
        %td= f.text_field :email, required: true

      %tr
        %td
          = f.label :referral_code
          %small (very optional)
        %td= f.text_field :referral_code

    %table.table
      %tr
        %td
          = f.label :why_andconf, "Why do you want to attend to AndConf?"
          %p.small
            We don't evaluate applications based on how accomplished or successful a person is.
            Some sentences or a paragraph would be great; for all of these questions,
            we love getting to read a little bit of detail but don't want you to have to write an essay.
            1,000 characters is roughly two paragraphs.
          %p.small Required — max 1,000 characters
        %td= f.text_area :why_andconf, rows: 10
      %tr
        %td
          = f.label :feminism, "What is your level of familiarity with intersectional feminism?"
          %p.small
            It’s fine to not be an expert on the topic.
          %p.small Required — max 1,000 characters
        %td= f.text_area :feminism, rows: 10
      %tr
        %td
          = f.label :diversity, "Is there an aspect of your background or identity that you think would make AndConf more diverse?"
          %p.small
            We’re striving to have a diverse event with people from many backgrounds, including these axes:
            age, race/ethnicity, gender/gender identity, LGBTQ+ identity, ability, class, and national origin.
            Answering 'No' or leaving this section blank wouldn’t disqualify you from attending — a sentence or two is plenty.
          %p.small Optional — max 1,000 characters
        %td= f.text_area :diversity, rows: 10

    %hr

    %strong
      How long have you been programming full-time?
    %span (Required)
    %p.small
      We want to have a wide variety of experience levels, both for the code retreat and the unconference,
      so please apply even if you're on the less-experience side of the scale below!
      We found that people with less than three months of regular coding practice (such as going to a bootcamp or
      professional work) had less fun at the code retreat, so we've set that as the minimum experience level required
      to attend.

    %ul.list-unstyled
      %li
        = f.radio_button :programming_experience, "3 months - 1 year"
        = f.label :programming_experience, "3 months - 1 year", value: "3 months - 1 year"
      %li
        = f.radio_button :programming_experience, "1 - 2 years"
        = f.label :programming_experience, "1 - 2 years", value: "1 - 2 years"
      %li
        = f.radio_button :programming_experience, "2 - 5 years"
        = f.label :programming_experience, "2 - 5 years", value: "2 - 5 years"
      %li
        = f.radio_button :programming_experience, "5 - 10 years"
        = f.label :programming_experience, "5 - 10 years", value: "5 - 10 years"
      %li
        = f.radio_button :programming_experience, "10+ years"
        = f.label :programming_experience, "10+ years", value: "10+ years"

    %hr

    .mb-20
      %em
        Note: The following questions will not impact whether or not you are accepted to AndConf!
        (They won't be visible to the application review committee while they read through your application.)

    %strong
      Do you need a scholarship ticket to be able to attend?
    %span (Required)
    %p.small
      Tickets cost $325. All tickets include lodging, food, and transportation to the venue from downtown San Francisco.
      Official conference activities will conclude Sunday night, but attendees are welcome to stay until
      Monday morning!

    %ul.list-unstyled
      %li
        = f.radio_button :scholarship, "no"
        = f.label :scholarship, "No, my ticket will be paid by my employer, myself, or other source.", value: "no"
      %li
        = f.radio_button :scholarship, "yes"
        = f.label :scholarship, "Yes, I can only attend if I get a scholarship ticket", value: "yes"
      %li
        = f.radio_button :scholarship, "maybe"
        = f.label :scholarship, "Maybe, I might be able to attend without a scholarship ticket but would appreciate assistance.", value: "maybe"
    %hr

    %strong
      Are you requesting travel assistance to get from your location to downtown San Francisco?
    %span (Required)
    %p.small
      Transportation from San Francisco to the venue will be provided for all attendees.
      The amount of travel assistance we'll be able to provide will depend on sponsorship and the number of
      requests we receive. Last year, we were able to reimburse a few attendees for travel expenses up to $250, and
      we hope we'll be able to do something similar this year.
    %ul.list-unstyled
      %li
        = f.radio_button :travel_stipend, "no"
        = f.label :travel_stipend, "No, my travel will be paid by my employer, myself, or other source.", value: "no"
      %li
        = f.radio_button :travel_stipend, "yes"
        = f.label :travel_stipend, "Yes, I can only attend if I get a travel grant.", value: "yes"
      %li
        = f.radio_button :travel_stipend, "maybe"
        = f.label :travel_stipend, "Maybe, I might be able to attend without a travel grant but would appreciate assistance.", value: "maybe"

    %hr

    %strong
      Did you attend AndConf last year?
    %span (Required)
    %p.small
      Don't worry — we're going for a mix of seasoned AndConf attendees and new faces.
    %ul.list-unstyled
      %li
        = f.radio_button :attend_last_year, "false"
        = f.label :attend_last_year, "No", value: "false"
      %li
        = f.radio_button :attend_last_year, "true"
        = f.label :attend_last_year, "Yes", value: "true"

    %hr

    %h3 Super Important Agreements

    %tr.nested-table
      %td{ colspan: 2 }
        %table
          %tr
            %td.pt-10= f.check_box :agreement_coc
            %td.pt-10.pl-10= f.label :agreement_coc, "I have read and agree to adhere to AndConf's #{link_to 'Code of Conduct', code_of_conduct_path, target: "_blank"}".html_safe, class: 'checkbox-label'

          %tr
            %td.pt-10= f.check_box :agreement_attendance
            %td.pt-10.pl-10= f.label :agreement_attendance, "If accepted, I will attend the entire conference, from the evening of Friday 8/12/15 through Sunday evening, 8/14/15.", class: 'checkbox-label'

          %tr
            %td.pt-10= f.check_box :agreement_deadline
            %td.pt-10.pl-10= f.label :agreement_deadline, "I agree to confirm or decline my attendance within 10 days if I am accepted.", class: 'checkbox-label'

  .mt-20
    - if @application_form.application.submitted?
      = f.submit 'Update application', name: 'save', class: "btn"
    - else
      = f.submit 'Save without submitting', name: 'save', class: "btn"

  - if @application_form.application.submitted?
    %p Application submitted #{time_ago_in_words(@application_form.application.submitted_at)} ago
    %p= link_to 'View application', application_path(@application_form.application)
  - else
    %h3 Submit
    %p
      When you're done with your application, submit it with the button below.
      You will be able to edit it any time before applications close.
    %p
      If you're curious what your application will look like to us,
      you can #{ link_to "check it out here", application_path(@application_form.application), target: "_blank"}.

    %fieldset
      = f.submit 'Submit application', name: 'submit', class: "btn btn-primary"
