%h2 AndConf Application

%p
  This paragraph will be about AndConf and why there's an application process

%p
  This paragraph will be about how we'll be evaluating applications

%p
  If this application looks blanker than you left it, double check that you logged in with the same service as before by logging out and trying the other one (GitHub or Google).


- if Configurable[:application_deadline_warning].present?
  .alert.alert-info
    = Configurable[:application_deadline_warning]

= form_for @user, url: application_path(@user.application) do |f|

  %fieldset
    - if @user.application.submitted?
      = f.submit 'Update application', name: 'save', class: "btn"
    - else
      = f.submit 'Save without submitting', name: 'save', class: "btn"

  %table.table

    %tr
      %td
        = f.label :name, 'Full name'
        %small (required)
      %td= f.text_field :name, required: true

    %tr
      %td
        = f.label :email
        %small (required)
      %td= f.text_field :email, required: true

      %tr.nested-table
        %td{ colspan: 2 }
          %table
            = f.fields_for :application do |app_fields|
              = app_fields.hidden_field :id

              %tr
                %td.pt-10= app_fields.check_box :agreement_terms
                %td.pt-10.pl-10= app_fields.label :agreement_terms, "I understand the #{link_to 'privileges and responsibilities', POLICIES_URL, target: "_blank"} that come with Double Union membership.".html_safe, class: 'checkbox-label'

              %tr
                %td.pt-10= app_fields.check_box :agreement_policies
                %td.pt-10.pl-10= app_fields.label :agreement_policies, "I agree to all posted #{link_to 'Double Union policies', POLICIES_URL, target: "_blank"}.".html_safe, class: 'checkbox-label'

              %tr
                %td.pt-10= app_fields.check_box :agreement_female
                %td.pt-10.pl-10= app_fields.label :agreement_female, "To keep the focus on a great space for women (trans, cis, queer, straight, and not-fitting-into-those-labels/other), all DU members identify as women in a way that's significant to them. This fits with my self-identification.", class: 'checkbox-label'

  - if @user.application.submitted?
    = f.submit 'Update application', name: 'save', class: "btn"
  - else
    = f.submit 'Save without submitting', name: 'save', class: "btn"

  - if @user.application.submitted?
    %p Application submitted #{time_ago_in_words(@user.application.submitted_at)} ago
    %p= link_to 'View application', application_path(@user.application)
  - else
    %h3 Submit
    %p
      When you're done with your application, submit it with the button below.
      You will be able to edit it any time before applications close.
    %p
      If you're curious what your application will look like to us,
      you can #{ link_to "check it out here", application_path(@user.application), target: "_blank"}.

    %fieldset
      = f.submit 'Submit application', name: 'submit', class: "btn btn-primary"
