%table.table.admin-console
  %tr
    %th Name
    %th Submitted
    %th Yes
    %th No
    %th ?
    %th On scholarship?
    %th
  - applications.each do |application|
    - user = application.user
    %tr
      %td.name
        = user_gravatar(user, 20)
        = link_to user.name, volunteers_application_path(application)
      %td= application.submitted_at.strftime("%b %-d")
      %td= application.yes_votes.size
      %td= application.no_votes.size
      %td= application.not_voted_count
      %td
        = user.is_scholarship ? "Yes" : "No"
        = form_for user, url: admin_attendee_path(user) do |f|
          = f.hidden_field(:id)
          = f.hidden_field(:is_scholarship, value: !user.is_scholarship)
          - if user.is_scholarship
            = f.submit "Remove scholarship", class: "btn", data: { confirm: "Are you super duper sure?" }
          - else
            = f.submit "Mark as on scholarship", class: "btn", data: { confirm: "Really?" }

      %td.buttons
        = form_for application, url: admin_approve_path do |f|
          = f.hidden_field(:id)
          = f.submit "Accept", class: "btn accept-btn", data: { confirm: "Are you sure?" }
        = form_for application, url: admin_reject_path do |f|
          = f.hidden_field(:id)
          = f.submit "Reject", class: "btn reject-btn", data: { confirm: "Are you sure?" }
