%table.table.table-striped.admin-console.js-datatable
  %thead
    %tr
      %th.min-width-150 Name
      %th Volunteer?
      %th Dietary Restrictions
      %th Diet Details
      %th Flying In?
      %th Sunday night?
      %th Coming
      %th Going
      %th Housing
      %th Housing Request
      %th Notes
  %tbody
    - users.each do |user|
      - attendance = user.attendances.first
      %tr{class: "user-#{user.id}"}
        %td.max-width-150
          = link_to user.name, admin_attendee_path(user)
        %td= attendance.interested_in_volunteering
        %td= dietary_restrictions_as_array(attendance.dietary_restrictions).join(", ")
        %td= attendance.dietary_additional_info
        %td= attendance.flying_in
        %td= attendance.staying_sunday_night
        %td= short_transit(attendance.transport_to_venue)
        %td= short_transit(attendance.transport_from_venue)
        %td= short_housing(attendance.sleeping_preference)
        %td= attendance.roommate_request
        %td
          = form_for :user, url: admin_save_membership_note_path, remote: true, html: { class: "js-membership-note js-membership-note-#{user.id}" } do |f|
            = f.hidden_field :id, value: user.id
            = f.text_area :membership_note, rows: 4, cols: 30, value: user.membership_note
            .submit
              = f.submit "Save Note", class: "btn"
              %span.collapse{class: "save-success-#{user.id}"} Note saved!
              %span.collapse{class: "save-failure-#{user.id}"} Note not saved :(
