= content_for :js do
  = javascript_include_tag :membership_note

.row
  .col-md-6
    %h3 Attendee Totals
    - if @all_attendees.any?
      %ul
        %li
          #{@all_attendees.count} registered attendees
          %ul
            %li #{@all_attendees.where(is_scholarship: false).count} paid attendees
            %li #{@all_attendees.where(is_scholarship: true).count} scholarship, sponsor, or volunteer attendees
        %li
          %a{"data-toggle" => "collapse" , "href" => "#collapseUnregistered"} #{@unregistered.count} unregistered attendees <b class="caret"></b>
          %div.collapse.out#collapseUnregistered
            %ul
              - @unregistered.each do |user|
                %li
                  = "#{user.name} <#{user.email}>"
  .col-md-6
    %h3
      Housing Totals
    %ul
    - @housing_totals.sort.each do |pref, count|
      %li #{short_housing(pref)} - #{count}

.mt-20
  = render partial: 'attendees', locals: { users: @all_attendees }
