= content_for :js do
  = javascript_include_tag :membership_note

.row
  .col-md-6
    %h3 Attendee Totals
    - if @all_attendees.any?
      %ul
        %li
          #{@all_attendees.count} registered attendees
          %ul
            %li #{@all_attendees.where(is_scholarship: false).count} paid attendees
            %li #{@all_attendees.where(is_scholarship: true).count} scholarship, sponsor, or volunteer attendees
        %li
          %a{"data-toggle" => "collapse" , "href" => "#collapseLimbo"}
            #{@users_in_limbo.count} attendees are in setup limbo <b class="caret"></b>
          %div.collapse.out#collapseLimbo
            %p.mt-0
              The following have completed step 1 of registration, but haven't finished step 2 (paying
              or confirming their scholarship ticket):
            %ul
              - @users_in_limbo.each do |user|
                %li
                  = "#{user.name} <#{user.email}>"
        %li
          %a{"data-toggle" => "collapse" , "href" => "#collapseUnregistered"} #{@unregistered.count} unregistered attendees <b class="caret"></b>
          %div.collapse.out#collapseUnregistered
            %ul
              - @unregistered.each do |user|
                %li
                  = "#{user.name} <#{user.email}>"
  .col-md-3
    %h3
      Housing Totals
    %ul
    - @housing_totals.sort.each do |pref, count|
      %li #{short_housing(pref)} - #{count}
  .col-md-3
    %h3
      Food Totals
    %ul
    - Attendance::DIETARY_OPTIONS.each do |pref|
      %li #{pref} - #{Attendance.where('dietary_restrictions like ?', "%#{pref}%").count}

.mt-20
  = render partial: 'attendees', locals: { users: @all_attendees }
