%h1 AndConf is going to be great!

%p
  %b You can update your food, transportation, or badge details #{ link_to "on this page", edit_attendances_path }
  %b until late July.

%h3 Slack

%p
  We'll be inviting you to the #{ link_to "AndConf Slack organization", SLACK_CHANNEL, target: "_blank"} soon!
  Keep an eye out for an email from Slack with your invitation.
  (We use Slack primarily for getting ready for AndConf, and we'll shut it down a couple
  of weeks after the conference.)

%h3 Travel

%p
  AndConf provides a free shuttle from downtown San Francisco to St. Dorothy's Rest, which is about 2.5 hours
  from downtown San Francisco in normal traffic. If you would rather coordinate carpooling with other attendees,
  there is a #{ link_to "carpool coordination Google doc", CARPOOL_DOC, target: "_blank"} and a #transportation
  #{ link_to "Slack channel", "https://andconf.slack.com/messages/transportation/", target: "_blank"} to help you facilitate.

%p
  The carpool doc is public (but only easily findable with the link), so please keep that in mind when including your contact information.

%p
  The shuttle leaving for AndConf will depart at
  %b 3pm on Friday, August 12th
  from a location TBA in downtown SF. We'll let you know the specific location once we've rented some metered spots from the city.

%p
  There are two shuttles back from AndConf, one at
  %b 8pm on Friday, August 14th,
  after dinner, and the second at
  %b 10am on Monday, August 15th.
  We need to book our the shuttles in advance, so please choose wisely! The shuttle will drop off near a Bart station in downtown SF.

%h3 Questions?

%p
  If you have questions about the schedule or are wondering what to bring, check out the
  #{ link_to "FAQ page", details_path }.

%p
  If that doesn't answer it, contact the team at #{ mail_to ATTEND_EMAIL }.

%h3 Cancellation Policy

= render "cancellation_policy", scholarship: false
