%h1 AndConf is going to be great!

%p
  You can update your food, transportation, or badge details #{ link_to "on this page", edit_attendances_path }
  until late July.

%p
  We'll be adding you to the AndConf Slack soon! Keep an eye out for an email from Slack with your invitation.
  Then you'll be able to access it here: #{ link_to "AndConf Slack", SLACK_CHANNEL, target: "_blank"}

%p
  AndConf provides a free shuttle from downtown San Francisco to St. Dorothy's Rest, which is about 2.5 hours
  from downtown San Francisco in normal traffic. If you would rather coordinate carpooling with other attendees,
  there is a #{ link_to "Carpool Coordination Doc", CARPOOL_DOC, target: "_blank"} and a #transportation
  #{ link_to "Slack Channel", SLACK_CHANNEL, target: "_blank"} to help you facilitate.


= render "cancellation_policy"
