%h1 AndConf is going to be great!

- if Configurable[:attendance_changes_allowed]
  %p
    %b You can update your food, transportation, or badge details #{ link_to "on this page", edit_attendances_path }
    %b until #{Configurable[:attendance_updates_close_date]}.

%h3 Travel

= render "travel", attendance: @attendance

%h3 Food

%p
  Meals at St. Dorothy's Rest are served buffet-style, usually with common dietary-restriction sensitive
  foods separated out so you can pick what works for you.
  (For example, a build your own taco bar, or options of wheat or gluten-free pasta where you pick your own sauce.)
  Every meal will have options for vegetarian, vegan, lactose-free, and gluten-intolerant diets.
%p
  If you don't think those options will accommodate your dietary restrictions,
  and would like to bring your own food, please email us at #{ ATTEND_EMAIL } and we can assign you to a house with a kitchen and fridge.

%h3 Slack

%p
  You should have gotten an invitation to the #{ link_to "AndConf Slack organization", SLACK_CHANNEL, target: "_blank"}.
  We use Slack primarily for getting ready for AndConf, and we'll shut it down a couple of weeks after the conference.

%h3 Questions?

%p
  If you have questions about the schedule or are wondering what to bring, check out the
  #{ link_to "FAQ page", details_path }.

%p
  If your question is transit-related, email #{ mail_to TRANSPORTATION_EMAIL }.

%p
  Otherwise, you can contact the team at #{ mail_to ATTEND_EMAIL }.

%h3 Cancellation Policy

= render "cancellation_policy", scholarship: false

%h3 Your Details

%h4 Your Badge Will Say These Things:

%ul.mt-10
  %li Name: #{@attendance.badge_name}
  %li Pronouns: #{@attendance.pronouns}
  - if @attendance.twitter_handle
    %li Twitter Handle: #{@attendance.twitter_handle}

%h4 Food & Housing Deets

%ul.mt-10
  %li Dietary Restrictions: #{dietary_restrictions_as_array(@attendance.dietary_restrictions).join(", ")}
  %li Staying over Sunday night?: #{@attendance.staying_sunday_night}
  %li Gender: #{@attendance.gender}
  %li Sleeping Preference: #{@attendance.sleeping_preference}
  - if @attendance.roommate_request.present?
    %li
      Roommate Request: #{@attendance.roommate_request}

- if @attendance.roommate_request.present?
  %p
    For roommate requests of 1-2 people whose sleeping preferences align, we'll make our best effort
    to assign you to the same building at SDR.

%h4 Getting Places

%ul.mt-10
  %li You're signed up for #{short_sentence_transit(@attendance.transport_to_venue)} to AndConf
  %li You're signed up for #{short_sentence_transit(@attendance.transport_from_venue)} back to SF
