%h1 AndConf is going to be great!

- if Configurable[:attendance_changes_allowed]
  %p
    %b You can update your food, transportation, or badge details #{ link_to "on this page", edit_attendances_path }
    %b until #{Configurable[:attendance_updates_close_date]}.

%h3 Travel

= render "travel", attendance: @attendance

%h3 Slack

%p
  You should have gotten an invitation to the #{ link_to "AndConf Slack organization", SLACK_CHANNEL, target: "_blank"}.
  We use Slack primarily for getting ready for AndConf, and we'll shut it down a couple of weeks after the conference.

%h3 Questions?

%p
  If you have questions about the schedule or are wondering what to bring, check out the
  #{ link_to "FAQ page", details_path }.

%p
  If your question is transit-related, email #{ mail_to TRANSPORTATION_EMAIL }.

%p
  Otherwise, you can contact the team at #{ mail_to ATTEND_EMAIL }.

%h3 Cancellation Policy

= render "cancellation_policy", scholarship: false
