%h2 Scholarship Confirmation

%p
  We're so excited to offer you a scholarship ticket to attend AndConf!

%h3 Cancellation Policy

%p
  We're only able to give out a limited number of scholarship tickets based on
  donations and sponsorships, so please double-confirm you'll be able to attend
  the entire conference before you accept a scholarship ticket!

= render "cancellation_policy", scholarship: true

= form_tag confirm_scholarship_attendances_path, method: :put do
  = check_box_tag :attending, "yes"
  = label_tag :attending, "I can definitely attend the entirety of the conference."
  .mt-10
    = submit_tag "Confirm Attendance & Finish Registration", class: "btn btn-primary"
