%nav.navbar#attendee-nav{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '.navbar-ex1-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-ex1-collapse
      - if current_user && current_user.application_reviewer?
        %ul.nav.navbar-nav
          %li.no-padding= link_to 'Admin Home', volunteers_users_path
          %li= link_to 'Applications', volunteers_applications_path
          - if current_user.is_admin?
            %li.dropdown
              %a{ href: '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' }
                Admin Tools
                <b class="caret"></b>
              %ul.dropdown-menu
                %li= link_to 'Manage Applications', admin_applications_path
                %li= link_to 'Manage Attendees', admin_attendees_path
                %li= link_to 'Configure app', admin_configurable_path
      %ul.nav.navbar-nav.pull-right
        - if current_user.present?
          %li.dropdown
            %a{ href: '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' }
              = user_gravatar(current_user)
              = current_user.username
              <b class="caret"></b>
            %ul.dropdown-menu
              - if current_user.applicant? && Configurable[:accepting_applications]
                %li= link_to 'Application', edit_application_path(current_user.application)
              - if current_user.attendee? || current_user.application_reviewer?
                %li= link_to 'Attendee Details', details_attendances_path
              %li.divider
              %li= link_to 'Sign out', logout_path
