.container.footer
  .row
    .col-md-4
      %h4 Attend
      %ul
        %li= link_to "Attendee Details & FAQ", details_path
        %li= link_to "Accessibility", accessibility_path
        %li= link_to "Code of Conduct", code_of_conduct_path
    .col-md-4
      %h4 Support
      %ul
        %li= link_to "Donate", donations_path
        %li= link_to "Sponsorship Prospectus", "/andconf_prospectus.pdf", target: "_blank"
    .col-md-4
      %h4 Stay in touch
      %ul
        %li= link_to "Read our fun blog", BLOG_URL, target: "_blank"
        %li= link_to "Follow @andconf on Twitter", TWITTER_URL, target: "_blank"
        %li= link_to "Join the mailing list", MAILING_LIST, target: "_blank"
  .row
    .col-md-4
    .col-md-4
      %p &copy; #{Time.now.year} Ampersand Industries
    .col-md-4
