%nav.navbar.navbar-default#external-nav{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '.navbar-ex1-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'AndConf', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to "AndXP", andxp_path
        %li
          = link_to "Donate", donations_path
        %li
          = link_to "Blog", "https://blog.andconf.io", target: "_blank"
        -#%li{'data-toggle' => 'modal', 'data-target' => '#log_in'}
        -#  - if Configurable[:accepting_applications]
        -#    = link_to "Apply to attend!", "#"
        -#  - else
        -#    = link_to "Attendee Login", "#"

.modal#log_in
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        = link_to "Log In with GitHub", github_login_path, class: "btn btn-primary"
        = link_to "Log In with Google", google_login_path, class: "btn btn-primary"
