%nav.navbar.navbar-default#external-nav{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '.navbar-ex1-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'AndConf', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to "Attendee Details and FAQ", details_path
        %li
          = link_to "Accessibility", accessibility_path
        %li
          = link_to "Sponsorship", "/andconf_prospectus.pdf"
        -# %li{'data-toggle' => 'modal', 'data-target' => '#log_in'}
        -#   = link_to "Log In", "#"

.modal#log_in
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        = link_to "Log In with GitHub", github_login_path, class: "btn btn-primary"
        = link_to "Log In with Google", google_login_path, class: "btn btn-primary"
